# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# IDEA
.idea/

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Test database
blog/site.db